html {
  box-sizing: border-box;
  background-color: #eee9de;
  font-family: Lato, sans-serif;
  line-height: 1.5rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

section {
  padding: 2em 0;
  vertical-align: middle;
  text-align: center;
}

img {
  display: block;
  width: 100%;
  margin: 0 auto;
}

div {
  display: inline-block;
  max-width: 25em;
  padding: 1em 1em 0;
}

.btn {
  display: inline-block;
  max-width: 25em;
  padding: 1em;
  text-align: left;
}

h2 {
  color: black;
  font-weight: bold;
  margin-bottom: 1em;
}

p {
  color: #333;
  margin-bottom: 2em;
}

a {
  padding: .75em;
  border: 3px solid #333;
  border-radius: 7px;
  color: #666;
  text-decoration: none;
}

a:hover {
  background-color: #666;
  color: #eee9de;
}
